body {
  font-size: 14px;
  padding: 2em;
}

.App > div > div {
  white-space: nowrap;
}

.App > div > div > div {
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #999;
}
.App > div > div > div:first-child {
  border-left: 1px solid #999;
}
